import /init.recovery.qcom_decrypt.rc

service vendor.qti.vibrator /system/bin/vendor.qti.hardware.vibrator.service.haydn
    group root
    disabled
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    seclabel u:r:recovery:s0

service set_permissive /system/bin/set_permissive.sh
    user root
    group root
    disabled
    oneshot 
    seclabel u:r:recovery:s0

on property:twrp.modules.loaded=true
    # Load ADSP firmware for PMIC
    wait /sys/kernel/boot_adsp/boot
    write /sys/kernel/boot_adsp/boot 1
    wait /sys/class/power_supply/battery

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    # Mount firmware
    mkdir /firmware
    mount vfat /dev/block/bootdevice/by-name/modem${ro.boot.slot_suffix} /firmware ro
    # Set fscklog permission
    chown root system /dev/fscklogs/log
    chmod 0770 /dev/fscklogs/log

on boot
    start health-hal-2-1
    chmod 0777 /system/bin/set_permissive.sh
    start set_permissive
    start vendor.qti.vibrator
    setprop sys.usb.config adb
